# Copia este archivo como .env y completa los valores
# NUNCA subas .env a git

SF_DOMAIN=https://nt1779211331673.my.salesforce.com
AGENT_API=https://api.salesforce.com/einstein/ai-agent/v1
AGENT_ID=0XxKh000001112UKAQ
SF_CONSUMER_KEY=tu_consumer_key
SF_CONSUMER_SECRET=tu_consumer_secret
